@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family:'raleway',sans-serif;
}

body {
    background-color:black;
}

h2 {
    font-size: 2rem;
    color: #33a8db;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
p {
    color:white;
}

selection {
    margin: 100px auto;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0.6));
}

